.wave-wrapper {
  position: relative;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
}

@media (orientation: landscape) {
  .wave-wrapper {
    width: 160vw;
  }
}

@media (orientation: portrait) {
  .wave-wrapper {
    width: 200vh;
  }
}